.App-box {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.belowHeader{
  padding: 0 25px
}

.category-box{
  /* min-height: 80vh; */
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media(max-width: 600px){
  .desktopView{
    display: none
  }
}

@media (min-width: 1200px){
  .viewMobile{
    display: none;
  }

  .desktopView{
    font-size: 40px;
    text-align: center;
    margin: 30vh 0
  }
}


.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title{
  font-size: 20px;
  text-align: left;
  margin-bottom: 17px
}

.searchbar{
  padding: 12px 0px;
  text-indent: 15px;
  width: 310px;
  border: none;
  border-radius: .25rem;
  border: 2px solid transparent;
}

.searchbar:focus{
  outline: none;
  border: 2px solid rgba(30, 143, 255, 0.795);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
